.header-admin {
    display: flex;
    align-items: center;
    padding: 12px 0px 12px 0px;
    background-color:  #e88e08;
  }

  .header-item1 {
    margin-left: 25px;
    display: flex;
    align-items: center;
    color: white;
    font-size: larger;
  }

  .header-item2 {
    margin-left: 790px;
    display: flex;
    align-items: center;
  }

  .header-item1 div {
    margin-left: 10px;
  }
  .header-item2 button{
    margin-right: 5px;
  }

  .header-item2 div {
    margin-left: 10px;
    color: white;
    font-size: 15px;
  }
  .header-admin a{
  		font-size: 17px;
  		color: white;
  		text-decoration: none
  }
   .item-flex {
    display: flex;
    align-items: center;
  }